<main>
  <div
    class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75"
  >
    <div
      class="absolute top-0 w-full h-full bg-center bg-cover"
      style="
        background-image: url('assets/img/background.jpg');
      "
    >
      <span
        id="blackOverlay"
        class="w-full h-full absolute opacity-75 bg-black"
      ></span>
    </div>
    <div class="container relative mx-auto">
      <div class="items-center flex flex-wrap">
        <div class="w-full lg:w-8/12 px-4 ml-auto mr-auto text-center">
          <img src="assets/img/JOPONT_logo.png" class="w-80 mb-8 mr-auto ml-auto"/>
          <div class="pr-12">
            <h1 class="text-white font-semibold text-5xl">
              JóPont - Az adománybolt
            </h1>
            <p class="mt-4 text-lg text-blueGray-200">
              Minding van egy jó ügyünk!
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
      style="transform: translateZ(0)"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-blueGray-200 fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
  </div>

  <section class="pb-20 bg-blueGray-200 pt-1">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap items-center mt-32">
        <div class="w-full px-4 mr-auto ml-auto">
          <div
            class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300"
          >
            <i class="fas fa-store text-xl"></i>
          </div>
          <h3 class="text-3xl mb-2 font-semibold leading-normal">
            Boltunk
          </h3>
          <p
            class="text-lg text-justify	font-light leading-relaxed mt-0 mb-4 text-blueGray-600"
          >
          Adományboltunkba szívesen fogadunk minden tárgyadományt, mely más számára még értéket képező
          háztartási tárgy, játék, ruhadarab stb. lehet. Ezek értékesítésével fő célunk egy tudatos
          vásárlói magatartás támogatása, mely az újrahasználat jegyében előtérbe helyezi a más által
          már nem használt, de funkcióját tökéletesen ellátó tárgyak vásárlását. Kínálatunk magas
          színvonalának fenntartásával szeretnénk vásárlóink számára egy kulturált, jó hangulatú
          adományboltban történő vásárlás élményét nyújtani, ahová jó bejönni vásárolni, teázni,
          csevegni, ahol alacsony árakon vásárolva lehetsz támogatója alapítványunk azon céljainak,
          melyek elsősorban – de nem kizárólagosan – a Velencei-tó körüli ügyek támogatását tartja szívügyének.
          </p>
        </div>
      </div>

      <div class="flex flex-wrap items-center mt-32">
          <div class="flex flex-row flex-wrap">
            <div
              class="w-full md:w-5/12 mr-auto ml-auto flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-green-500"
            >
              <img
                alt="..."
                src="assets/img/dolls-houses.jpg"
                class="w-full align-middle rounded-t-lg"
              />

              <blockquote class="relative p-8 mb-4">
                <svg
                  preserveAspectRatio="none"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 583 95"
                  class="absolute left-0 w-full block h-95-px -top-94-px"
                >
                  <polygon
                    points="-30,95 583,95 583,65"
                    class="text-green-500 fill-current"
                  ></polygon>
                </svg>
                <h4 class="text-xl font-bold text-white">Ha szeretnéd adományboltunkat olyan tárgyakkal támogatni, melyek alapítványunk adott célkitűzéseit a leghatékonyabban támogatják, akkor örömmel vesszük az alábbi tárgyadományokat</h4>
                <ul class="list-disc text-white" style="padding-left:25px;">
                  <li>könyvek</li>
                  <li>játékok</li>
                  <li>ruhák</li>
                  <li>konyhai eszközök</li>
                  <li>háztartási felszerelések</li>
                </ul>
                <p class="text-md font-light mt-2 text-white">A fenti lista – ahogy mondani szokás – nem teljes, csupán útmutató, hogy mely tárgyak értékesítésével tudjuk leginkább elősegíteni céljaink elérését. Persze a kínálat színesíthető minden     olyan eszközzel, háztartási kellékkel amiről úgy gondoljátok, hogy Ti is szívesen látnátok egy adománybolt polcain.</p>
              </blockquote>
            </div>

            <div
              class="w-full md:w-5/12 mr-auto ml-auto flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-red-600"
            >
              <img
                alt="..."
                src="assets/img/teddy-bear.jpg"
                class="w-full align-middle rounded-t-lg"
              />
              
              <blockquote class="relative p-8 mb-4">
                <svg
                  preserveAspectRatio="none"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 583 95"
                  class="absolute left-0 w-full block h-95-px -top-94-px"
                  >
                  <polygon
                  points="-30,95 583,95 583,65"
                  class="text-red-600 fill-current"
                  ></polygon>
                </svg>
                <h4 class="text-xl font-bold text-white">Azért, hogy kínálatunkat magas színvonalon tudjuk tartani, kérjük az alábbi tárgyak adományozásának mellőzését</h4>
                
                <ul class="list-disc text-white" style="padding-left:25px;">
                  <li>divatjamúlt ruhák, céges logós vagy reklámtárgyak</li>
                  <li>régi, kopott könyvek</li>
                  <li>plüssök</li>
                </ul>
                <p class="text-md font-light mt-2 text-white">
                  Sajnos kapacitás hiányában javításokat, tisztításokat nem tudunk végezni a felajánlott tárgyakon, így nem tudunk átvenni sérült, koszos vagy javítandó eszközöket, ruhákat.
                </p>
              </blockquote>
            </div>
          </div>

          <div
              class="w-full mr-12 ml-12 flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-orange-600"
            >
              <img
                alt="..."
                src="assets/img/pénz.jpg"
                class="w-full align-middle rounded-t-lg"
              />
              
              <blockquote class="relative p-8 mb-4">
                <svg
                  preserveAspectRatio="none"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 583 95"
                  class="absolute left-0 w-full block h-95-px -top-94-px"
                  >
                  <polygon
                    points="-30,95 583,95 583,65"
                    class="text-orange-600 fill-current"
                  ></polygon>
                </svg>
                <h4 class="text-xl font-bold text-white">Ha pénzösszeggel támogatnátok alapítványunk aktuális célkitűzéseit, akkor az alábbi bankszámlaszámon tehetitek meg:</h4>
                
                <p class="text-md font-light mt-2 text-white text-center">
                  JóPont Alapítvány / 10402908-50526949-65751013
                </p>
              </blockquote>
            </div>
      </div>
    </div>
  </section>

  <section class="relative py-20">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0); top: 1px"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-white fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>

    <div class="container mx-auto px-4">
      <div class="flex flex-wrap">
        <div class="w-full px-4 mr-auto ml-auto">
          <div class="md:pr-12">
            <div class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300">
              <i class="fas fa-rocket text-xl"></i>
            </div>
            <h3 class="text-3xl font-semibold">Tevékenységeink</h3>
            <p class="mt-4 text-lg text-justify leading-relaxed text-blueGray-500">
              Mottónk szerint „Mindig van egy jó ügyünk!” és együtt tevékenykedni egy
              közös célért igazán felemelő dolog. Minden évben több olyan ügy megvalósulásához
              szeretnénk adományboltunk bevételeivel hozzájárulni, mely összhangban van
              alapítványunk célkitűzéseivel. Legyen szó a Velencei-tó természeti kincseinek
              megőrzéséről, a komposztálás népszerűsítéséről, iskolai könyvtárak bővítéséről
              vagy családsegítésről, azon leszünk hogy adományboltunk bevételét mindig olyan
              tevékenységekre fordítsuk, mely környezetünk, közösségünk épülését szolgálja.
            </p>
          </div>
        </div>
        <div class="w-full px-4 mr-auto ml-auto">
          <img
              alt="..."
              src="assets/img/mindig_van_egy_jo_ugyunk.jpg"
              class="shadow-lg rounded-full mx-auto"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="relative py-20 bg-blueGray-200">
    <div class="container mx-auto my-6 px-4">
      <div class="flex flex-wrap items-center">
        <div class="w-full px-4 mr-auto ml-auto">
          <div
            class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300"
          >
            <i class="fas fa-rocket text-xl"></i>
          </div>
          <h3 class="text-3xl mb-2 font-semibold leading-normal">
            Amit már elértünk
          </h3>
        </div>
      </div>
    </div>

    <div class="container rounded-lg mx-auto px-4 bg-white">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <img
            alt="..."
            class="max-w-full rounded-lg shadow-lg m-4"
            src="assets/img/motyo_1.jpg"
          />
        </div>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300"
            >
              <i class="fas fa-dog text-xl"></i>
            </div>
            <h3 class="text-3xl font-semibold">Motyó</h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              Alapítványunk létrejöttét illetve adományboltunk megnyitását követően első dolgunk volt,
              hogy ideiglenes befogadóként kihoztuk az ASKA alapítványtól Motyót és gazdit kerestünk neki.
              Célunk az volt ezzel, hogy legalább egy kutyával kevesebb legyen a menhelyen és
              eggyel több pedig szerető családban. Motyó azóta boldog gazdis kutya.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300"
            >
              <i class="fas fa-box text-xl"></i>
            </div>
            <h3 class="text-3xl font-semibold">Cipősdoboz</h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              A cipősdoboz akcióban évről évre részt veszünk hivatalos gyűjtőpontként.
              A hozzánk beérkező csomagokat a Baptista szeretetszolgálattal együttműködve
              környékbeli intézmények felé vagy a sukorói logisztikai központ felé továbbítjuk.
            </p>
          </div>
        </div>
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <img
            alt="..."
            class="max-w-full rounded-lg shadow-lg m-4"
            src="assets/img/ciposdoboz_1.jpg"
          />
        </div>
      </div>
    </div>

    <div class="container rounded-lg mx-auto px-4 bg-white">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <img
            alt="..."
            class="max-w-full rounded-lg shadow-lg m-4"
            src="assets/img/gyermekotthon.jpg"
          />
        </div>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300 mt-8"
            >
              <i class="fas fa-home text-xl"></i>
            </div>
            <h3 class="text-3xl font-semibold">Székesfehérvári gyermekotthon</h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500 mb-8">
              2021 decemberében a székesfehérvári gyermekotthon összes lakójának teljesítettük karácsonyi kívánságát,
              így 44 ajándékcsomaggal érkeztünk meg a Tüzér utcába. Első és legfeledhetetlenebb projektünk
              volt a bizonyíték arra hogy alapítványunk működése értékes és hiánypótló.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300"
            >
              <i class="fas fa-briefcase"></i>
            </div>
            <h3 class="text-3xl font-semibold">#nemluxustáska</h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              Hivatalos gyűjtőpontként veszünk részt adományboltunkkal a #nemluxustáska évről évre megszervezett kezdeményezésében,
              mely bántalmazott, rászoruló nők számára juttat el higiéniás termékeket egy-egy női táskában.
            </p>
          </div>
        </div>
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4 py-10">
          <img
            alt="..."
            class="max-w-full rounded-lg shadow-lg m-4"
            src="assets/img/nemluxustaska.jpg"
          />
        </div>
      </div>
    </div>

    <div class="container rounded-lg mx-auto px-4 bg-white">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <img
            alt="..."
            class="max-w-full rounded-lg shadow-lg m-4"
            src="assets/img/madarkorhaz_1.jpg"
          />
        </div>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300"
            >
              <i class="fas fa-dove"></i>
            </div>
            <h3 class="text-3xl font-semibold">Vadmadárkórház</h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              2022 első negyed éves bevételeinkből a sukorói vadmadárkórház számára vásároltunk fiókanevelő inkubátort.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300"
            >
              <i class="fas fa-leaf"></i>
            </div>
            <h3 class="text-3xl font-semibold">Virágültetés a gyermekotthonban</h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              2022 tavaszán a székesfehérvári gyermekotthon virágültetéséhez virágokkal, kaspókkal,
              virágládákkal és virágfölddel járultunk hozzá, hogy a gyerekek a kertészkedés örömteli
              és hasznos tevékenysége által tegyék otthonosabbá környezetüket.
            </p>
          </div>
        </div>
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4 py-10">
          <img
            alt="..."
            class="max-w-full rounded-lg shadow-lg m-4"
            src="assets/img/viragok_1.jpg"
          />
        </div>
      </div>
    </div>

    <div class="container rounded-lg mx-auto px-4 bg-white">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <img
            alt="..."
            class="max-w-full rounded-lg shadow-lg m-4"
            src="assets/img/gardonyi_ovoda_1.jpg"
          />
        </div>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300"
            >
              <i class="fas fa-children"></i>
            </div>
            <h3 class="text-3xl font-semibold">Fókuszban a helyi gyerekek</h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              A környékbeli óvodásokról sem feledkezünk meg, így 2022 tavaszán a Gárdonyi Óvoda összes tagintézményének
              (Gárdony, Agárd, Dinnyés, Zichyújfalu, Vereb) aszfalt krétát vásároltunk, hogy a gyerekek szabadlevegős
              tevékenységüket kreatív alkotással tölthessék. Ezt követően a Parkerdei Óvoda tavaszi „Bringázz az oviba!”
              programja alkalmából minden ovist egy kulaccsal ajándékoztunk meg. 
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300"
            >
              <i class="fas fa-truck-field"></i>
            </div>
            <h3 class="text-3xl font-semibold">Menekültek</h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              Az orosz-ukrán háború kitörésekor helyi segítőkkel és vállalkozókkal összefogva tartós élelmiszert és tisztasági felszerelést juttattunk
              el a környéken elszállásolt ukrán menekülteknek és a határra. 
            </p>
          </div>
        </div>
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4 py-10">
          <img
            alt="..."
            class="max-w-full rounded-lg shadow-lg m-4"
            src="assets/img/menekültek.jpg"
          />
        </div>
      </div>
    </div>

    <div class="container rounded-lg mx-auto px-4 bg-white">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <img
            alt="..."
            class="max-w-full rounded-lg shadow-lg m-4"
            src="assets/img/bringa_1.jpg"
          />
        </div>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300"
            >
              <i class="fa-solid fa-bicycle"></i>
            </div>
            <h3 class="text-3xl font-semibold">"Bringázz az oviba"</h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              A Parkerdei óvoda évről évre megrendezett „Bringázz az oviba!” programja 2022-ben is
              sok szülőt és gyermeket szállított ki az autóból egy zöldebb jövő népszerűsítése érdekében.
              Mivel alapítványunk minden ilyen kezdeményezést igyekszik támogatni, így az óvodába járó
              gyermekeket egy újrahasznosított kulaccsal ajándékoztuk meg.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300"
            >
              <i class="fas fa-campground"></i>
            </div>
            <h3 class="text-3xl font-semibold">Nyári táborok</h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              2022 nyarán a Chernel István Általános Iskola és Gimnázium valamint a Zichyújfalui Református Általános Iskola gyermekeinek táboroztatását támogattuk.
            </p>
          </div>
        </div>
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4 py-10">
          <img
            alt="..."
            class="max-w-full rounded-lg shadow-lg m-4"
            src="assets/img/tábor.png"
          />
        </div>
      </div>
    </div>

    <div class="container rounded-lg mx-auto px-4 bg-white">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <img
            alt="..."
            class="max-w-full rounded-lg shadow-lg m-4"
            src="assets/img/koraszulott.jpg"
          />
        </div>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300 mt-8"
            >
              <i class="fas fa-baby"></i>
            </div>
            <h3 class="text-3xl font-semibold">Két nap a legkisebb hősökért</h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500 mb-8">
              A megemelkedett üzemenyagárak a  Magyar Koraszülött és Újszülött Mentő Alapítvány számára is nehézséget okoztak,
              2022 szeptemberében ezért két napos akciónk során 161.130 Ft-ot gyűjtöttünk össze munkájuk támogatására.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300"
            >
              <i class="fas fa-tree"></i>
            </div>
            <h3 class="text-3xl font-semibold">Faültetés</h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              2022 őszén a velencei Milleniumi parkba fákat ültettünk, remélve hogy nagyra nőve látványukkal és árnyékukkal ajándékoznak meg minket.
            </p>
          </div>
        </div>
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4 py-10">
          <img
            alt="..."
            class="max-w-full rounded-lg shadow-lg m-4"
            src="assets/img/faultetes_1.jpg"
          />
        </div>
      </div>
    </div>

    <div class="container rounded-lg mx-auto px-4 bg-white">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <img
            alt="..."
            class="max-w-full rounded-lg shadow-lg m-4"
            src="assets/img/velencei_otthon_1.jpg"
          />
        </div>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300 mt-8"
            >
              <i class="fas fa-home"></i>
            </div>
            <h3 class="text-3xl font-semibold">Velencei gyermekkotthon</h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500 mb-8">
              2022 utolsó negyed éves bevételeit a velencei gyermekotthon lakóinak támogatására szántuk.
              Kabátokat, sálat és sapkát vittünk számukra, valamint szőnyegeket, ágytakarókat és fügönyöket,
              karácsonyi ajándék gyanánt pedig a Fővárosi Nagycirkusz egyik fantasztikusan látványos előadására hívtuk meg őket.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300"
            >
              <i class="fas fa-school"></i>
            </div>
            <h3 class="text-3xl font-semibold">Pápay Ágoston Általános Iskola, Készségfejlesztő Iskola és Kollégium</h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500">
              A martonvásári iskola és gyermekotthon tanulói és lakói számára 94 cipősdoboznyi karácsonyi ajándékot készítettünk össze.
            </p>
          </div>
        </div>
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4 py-10">
          <img
            alt="..."
            class="max-w-full rounded-lg shadow-lg m-4"
            src="assets/img/papay_agoston.jpg"
          />
        </div>
      </div>
    </div>

    <div class="container rounded-lg mx-auto px-4 bg-white">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <img
            alt="..."
            class="max-w-full rounded-lg shadow-lg m-4"
            src="assets/img/kerteszkedes.jpg"
          />
        </div>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300 mt-8"
            >
              <i class="fas fa-recycle"></i>
            </div>
            <h3 class="text-3xl font-semibold">Kertészkedés</h3>
            <p class="mt-4 text-lg leading-relaxed text-blueGray-500 mb-8">
              Komposztálókkal és vetőmag csomagokkal indítottuk a 2023-as évet,
              hogy a helyi lakosságot - elsősorban a gyerekeket - a kertészkedés
              örömteli tevékenységén keresztül egy fenntarthatóbb életmóddal ismertessük meg.
            </p>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="relative py-20">
    <div
      class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
      style="transform: translateZ(0); top: 1px"
    >
      <svg
        class="absolute bottom-0 overflow-hidden"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="none"
        version="1.1"
        viewBox="0 0 2560 100"
        x="0"
        y="0"
      >
        <polygon
          class="text-white fill-current"
          points="2560 0 2560 100 0 100"
        ></polygon>
      </svg>
    </div>
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center text-center mb-24">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold">Bemutatkozás</h2>
          <p class="text-lg leading-relaxed m-4 text-blueGray-500">
            Akik nélkül nem jöhetett volna létre
          </p>
        </div>
      </div>
      <div class="flex flex-wrap">
        <div class="w-full md:w-3/12 lg:w-4/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="assets/img/szépréti_krisztina_2.jpg"
              class="shadow-lg rounded-full mx-auto max-w-120-px"
            />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Szépréti Krisztina</h5>
              <div class="mt-6">
                <button
                  class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <a href="https://www.facebook.com/kovacs.krisztina.148116" target="blank"><i class="fab fa-facebook-f"></i></a>
                </button>
              </div>
              <div>
                8 éve költöztem a családommal Agárdra, ahol igyekszem a helyi közösségben aktív szerepet vállalni,
                hogy a környezetünk élhetőbb és gazdagabb legyen. 16 évig dolgoztam hivatásos állományban, ami után úgy döntöttem,
                hogy fejest ugrok a civil szférába, ahol azon tudok munkálkodni, hogy nagyobb teret kapjon közösségünk
                mindennapjaiban az adományozás, az újrahasznosítás és újrahasználat, valamint a tudatos fogyasztói magatartás.
                Hiszem hogy az adománybolt megnyitása egy nagyszerű kezdeményezés
                része, mely során népszerűsíteni tudjuk az környezetünkben élő emberek életében a karitatív
                tevékenységet. Katherine Graham amerikai újságírónő szerint „mi lehet jobb annál, mint szeretni,
                amit csinálunk, és tudni, hogy annak értéke is van?” Szóval itt vagyok.
              </div>
            </div>
          </div>
        </div>

        <div class="w-full md:w-3/12 lg:w-4/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="assets/img/gyimesi_relinda.jpg"
              class="shadow-lg rounded-full mx-auto max-w-120-px"
            />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Gyimesi Relinda</h5>
              <div class="mt-6">
                <button
                  class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <a href="https://www.facebook.com/GyReli" target="blank"><i class="fab fa-facebook-f"></i></a>
                </button>
              </div>
              <div>
                18 éve költöztem Agárdra családi kapcsolatok révén. Sokáig én is az ingázó életmódot folytattam Agárd és Budapest között.
                3 éve rájöttem, hogy nekem a teljes nyugalmat és feltöltődést ez a pici település adja. Agárd a nyugalom és a béke szigete számomra.
                Megfogadtam, hogy én innentől fogva, ha lehet nem hagyom el az Agárd táblát egy munkahely kedvéért sem, ezért nyitottam
                a Pont Vitamin zöldséges üzletemet Agárdon, a Mikszáth úti pavilonsoron. Hálás vagyok és szerencsésnek érzem magam, hogy sikerült megvalósítanom ezt az álmom. 
 
                Az üzletem által sok mindent tanultam a hozzám betérő vásárlóktól, az itt élő emberektől, helyi közösségektől. Én a zöldséges üzletem által tanultam meg, hogy lehet a környezetünk fenntarthatósága érdekében csomagolóanyag mentesen vásárolni és mennyit pazarlunk az életünk folyamán, amelyen mindenképpen változtatni kell, ha jót szeretnénk a bolygónknak és ezáltal magunknak, embereknek. Egyre többet kapcsolódtam be a helyi szervezésű újrahasznosítással, hulladék csökkentéssel kapcsolatos programokba és a jótékonykodásba, örömmel folytatom e tevékenységet a mai napig. 
                Így amikor Szépréti Krisztina barátnőmben felmerült az adománybolt gondolata, nem volt kérdés egy percig sem, hogy csatlakoznom kell ehhez a nemes ügyet szolgáló kezdeményezéshez és ezzel is folytathassam az általam választott utamat.
              </div>
            </div>
          </div>
        </div>
        <div class="w-full md:w-3/12 lg:w-4/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <img
              alt="..."
              src="assets/img/jócsák_éva.jpg"
              class="shadow-lg rounded-full mx-auto max-w-120-px"
            />
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold">Jócsák Éva</h5>
              <div class="mt-6">
                <button
                  class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button"
                >
                  <a href="https://www.facebook.com/eva.jocsak" target="blank"><i class="fab fa-facebook-f"></i></a>
                </button>
              </div>
              <div>
                Én Gárdonyban élek 5 éve a kisfiammal, kutyáimmal, macskámmal, deguinkkal, nagy kertünkkel. Ahogy ők érkeztek az életembe sorban, úgy érkezett bele a tudatosság az embertársaim, környezetem irányába és hogy akárhol is élek visszaadhassak a helyi közösségnek. Szakmámat tekintve közgazdász vagyok, egy szoftver cégnél dolgozom azon, hogy minél tehetségesebb emberek dolgozhassanak egy minél jobb munkahelyen. Az első kutyasétáltatásom 11 éve volt, azóta voltam zarándok, biofarm önkéntes, ÖkoKör vezető, voltam zöldségkosár-közösség tagja, hobbikertész, érdekel a permakultúra, jó úton vagyok a nulla hulladék felé. Az adományboltot is egy olyan helynek álmodom, ahol egy közösségként egymásra találhatnak a hasonlóan gondolkodók, akik szelíden de kitartóan, tenniakarással és pozitívan néznek és lépkednek a jövőbe: vásárlók-adományozók-civil szervezetek és mi.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="relative pt-20 pb-24">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap mb-24">
        <div class="w-full lg:w-6/12 px-4">
          <div class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300">
            <i class="fas fa-address-card text-xl"></i>
          </div>
          <h2 class="text-4xl font-semibold">Kapcsolat</h2>
          <ul class="list-none mt-6">
            <li class="py-2">
              <div class="flex items-center">
                <div>
                  <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 mr-3">
                    <i class="fas fa-map-marker"></i>
                  </span>
                </div>
                <div>
                  <h4 class="text-blueGray-500">
                    Cím: 2482 Gárdony (Agárd), Gárdonyi Géza utca 45.
                  </h4>
                </div>
              </div>
              <div class="flex items-center">
                <div>
                  <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 mr-3">
                    <i class="fas fa-phone"></i>
                  </span>
                </div>
                <div>
                  <h4 class="text-blueGray-500">
                    Telefon: <a href="tel:06-30-2777-806">06-30-2777-806</a>
                  </h4>
                </div>
              </div>
              <div class="flex items-center">
                <div>
                  <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 mr-3">
                    <i class="fas fa-envelope-open"></i>
                  </span>
                </div>
                <div>
                  <h4 class="text-blueGray-500">
                    Email: <a href="mailto:jopontadomanybolt@gmail.com">jopontadomanybolt@gmail.com</a>
                  </h4>
                </div>
              </div>
              <div class="flex items-center">
                <div>
                  <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 mr-3">
                    <i class="fas fa-facebook-f"></i>
                  </span>
                </div>
                <div>
                  <h4 class="text-blueGray-500">
                    Facebook: <a href="https://www.facebook.com/jopontadomanybolt">https://www.facebook.com/jopontadomanybolt</a>
                  </h4>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="text-red-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-red-300">
            <i class="fas fa-address-card text-xl"></i>
          </div>
          <h2 class="text-4xl font-semibold">Nyitvatartás</h2>
          <ul class="list-none mt-6">
            <li class="py-2">
              <div class="flex items-center">
                <div>
                  <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 w-24 mr-3">
                    Hétfő
                  </span>
                </div>
                <div>
                  <h4 class="text-blueGray-500">
                    9:00–17:00
                  </h4>
                </div>
              </div>
              <div class="flex items-center">
                <div>
                  <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 w-24 mr-3">
                    Kedd
                  </span>
                </div>
                <div>
                  <h4 class="text-blueGray-500">
                    9:00–17:00
                  </h4>
                </div>
              </div>
              <div class="flex items-center">
                <div>
                  <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 w-24 mr-3">
                    Szerda
                  </span>
                </div>
                <div>
                  <h4 class="text-blueGray-500">
                    9:00–17:00
                  </h4>
                </div>
              </div>
              <div class="flex items-center">
                <div>
                  <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 w-24 mr-3">
                    Csütörtök
                  </span>
                </div>
                <div>
                  <h4 class="text-blueGray-500">
                    9:00–17:00
                  </h4>
                </div>
              </div>
              <div class="flex items-center">
                <div>
                  <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 w-24 mr-3">
                    Péntek
                  </span>
                </div>
                <div>
                  <h4 class="text-blueGray-500">
                    9:00–17:00
                  </h4>
                </div>
              </div>
              <div class="flex items-center">
                <div>
                  <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 w-24 mr-3">
                    Szombat
                  </span>
                </div>
                <div>
                  <h4 class="text-blueGray-500">
                    9:00–12:00
                  </h4>
                </div>
              </div>
              <div class="flex items-center">
                <div>
                  <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-blueGray-500 bg-blueGray-50 w-24 mr-3">
                    Vasárnap
                  </span>
                </div>
                <div>
                  <h4 class="text-blueGray-500">
                    Zárva
                  </h4>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  
  <div class="flex flex-wrap items-center md:justify-between justify-center bg-blueGray-200">
    <hr class="my-6 border-blueGray-300" />
    <div class="w-full md:w-4/12 px-4 mx-auto text-center">
      <div class="text-sm text-blueGray-500 font-semibold py-1">
        Copyright © {{ date }} Jópont AdományBolt (<a href=" www.linkedin.com/in/kovg" class="text-blueGray-500 hover:text-blueGray-800">Kovács Gábor</a>).
      </div>
    </div>
  </div>
</main>

